.row {
    height: 100%;
    /*
    border: 2px solid red;
    background-color: lightblue;
    */
}

.columns {
    height: 100%;
    /*
    border: 2px solid black;
    background-color: lightgreen;
    */
}