@media screen and (max-width: 576px) {

    .arquitecturaContainer1 {
        // background-color: white;
        // width: 100%;
        min-height: 74vh;
        // cursor: cell;

        .arquitecturaContainerRow1 {
            margin: 85px 0 0 0;

            .arquitecturaContainerColumn1 {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
            }
        }

        .arquitecturaContainerRow2 {
            background-color: none;
            // min-height: 45vh;
            width: 100%;
            padding: 40px 30px 0 50px;
            // display: flex;
            // align-items: end;

            .arquitecturaContainerColumn1 {
                background-color: none;

                p {
                    font-size: 8px;
                    text-align: justify;
                    font-family: 'helveticaNeueLight';
                    color: rgb(55, 55, 55);
                }
            }
        }
    }


    .arquitetcuraSliderColumn1 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-left: auto;
        margin-right: auto;

        .iconLeft {
            width: 10px;
            // height: auto;
            margin: 0 0 0 0;
            // cursor: crosshair;
            color: rgb(55, 55, 55);
            opacity: (.8);
        }

        .arquitecturaSliderImg {
            max-width: 100%;
            height: auto;
            opacity: 0;
            transition: opacity .8s ease-in-out;

            img {
                width: 100%;
                height: auto;
            }
        }

        .arquitecturaSliderImgActive {
            opacity: 1;
        }

        .iconRight {
            width: 10px;
            // height: auto;
            margin: 0 0 0 0;
            // cursor: crosshair;
            color: rgb(55, 55, 55);
            opacity: (.8);
        }
    }

}