@media screen and (max-width: 576px) {

    .navBarRow1 {
        cursor: crosshair;

        .navBarColumn1 {
            hr {
                margin: 0px 30px 0px 30px;
                padding: 0;
                color: black;
                position: relative;
                bottom: 15px;
            }

            ul {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-top: 30px;

                .navBarLink0 {
                    text-decoration: none;
                    cursor: crosshair;
                }

                .navBarLink1 {
                    text-decoration: none;
                    cursor: crosshair;
                }

                .navBarLink2 {
                    text-decoration: none;
                    cursor: crosshair;
                }

                .navBarLink3 {
                    text-decoration: none;
                    cursor: crosshair;
                }

                .navBarLink4 {
                    text-decoration: none;
                    cursor: crosshair;
                }

                li {
                    list-style: none;
                    transition: all .1s;
                    cursor: crosshair;
                }

                .navBarInicio {
                    font-family: 'helveticaNeueLight';
                    font-size: calc(0.3rem + 1vw);
                    color: rgb(55, 55, 55);

                    &:hover {
                        color: $greyColor;
                    }
                }

                .navBarStatement {
                    font-family: 'helveticaNeueLight';
                    font-size: calc(0.3rem + 1vw);
                    color: rgb(55, 55, 55);

                    &:hover {
                        color: $orangeColor;
                    }
                }

                .navBarObras {
                    font-family: 'helveticaNeueLight';
                    font-size: calc(0.3rem + 1vw);
                    color: rgb(55, 55, 55);

                    &:hover {
                        color: rgb(20, 20, 230);
                    }
                }

                .navBarArquitectura {
                    font-family: 'helveticaNeueLight';
                    font-size: calc(0.3rem + 1vw);
                    color: rgb(55, 55, 55);

                    &:hover {
                        color: $yellowColor;
                    }
                }

                .navBarContacto {
                    font-family: 'helveticaNeueLight';
                    font-size: calc(0.3rem + 1vw);
                    margin-right: 30px;
                    color: rgb(55, 55, 55);

                    &:hover {
                        color: $greenColor;
                    }
                }

                .navBarContactoEnContacto {
                    font-family: 'helveticaNeueLight';
                    font-size: calc(0.3rem + 1vw);
                    margin-right: 20px;
                    color: rgb(55, 55, 55);

                    &:hover {
                        color: $greenColor;
                    }
                }
            }
        }
    }

}