@media screen and (max-width: 576px) {

    .obraCuoreContainer1 {
        // background-color: black;
    
        .obraCuoreRow1 {
            // margin: 0 0 0 0;
    
            .obraCuoreColumn1 {
                div {
                    // margin: 20px 15px 0 0;
                    // display: flex;
                    // flex-direction: row;
                    // justify-content: end;
    
                    h1 {
                        // font-family: 'retron2000';
                        font-size: 18px;
                        // color: white;
                        margin: 0 0 5px 0;
                    }
                }
            }
        }
    
        .obraCuoreRow2 {
            // margin: 0 15px 0 15px;
    
            .obraCuoreColumn1 {
                hr {
                    // color: white;
                    margin: 0 0 8px 0;
                }
    
                div {
                    // display: flex;
                    // flex-direction: row;
                    // justify-content: space-between;
    
                    .obraCuoreLink {
                        // text-decoration: none;
    
                        h6 {
                            // list-style: none;
                            // transition: all .1s;
                            // cursor: pointer;
                            // font-family: 'helveticaNeueLight';
                            font-size: 6px;
                            // color: white;
                            line-height: 0;
    
                            &:hover {
                                // color: $greenColor;
                            }
                        }
                    }
    
                    .obraCuoreTxt {
                        // display: flex;
                        // flex-direction: column;
    
                        h6 {
                            // text-align: end;
                            // font-family: 'helveticaNeueLight';
                            font-size: 6px;
                            // color: white;
                            line-height: 0;
                        }
                    }
                }
            }
        }
    
        .obraCuoreRow3 {
            margin: 80px 15px 145px 15px;
    
            .obraCuoreColumn1 {
                width: 100%;
                margin-left: auto;
                margin-right: auto;

                div {
                    // margin: 0 0 0 0;
                    // display: flex;
                    // flex-direction: column;
                    // align-items: center;
                    // justify-content: center;
                    // margin-right: auto;
                    // margin-left: auto;
                    // width: 100%;
                    height: 51vh;
    
                    img {
                        width: 90%;
                        height: auto;
                    }
                }
            }
        }
    }
    
}