@media screen and (max-width: 576px) {

    .obraPanopticoContainer1 {
        // background-color: white;
    
        .obraPanopticoRow1 {
            // margin: 0 0 0 0;
    
            .obraPanopticoColumn1 {
                div {
                    // margin: 20px 15px 0 0;
                    // display: flex;
                    // flex-direction: row;
                    // justify-content: end;
    
                    h1 {
                        // font-family: 'retron2000';
                        font-size: 16px;
                        // color: rgb(55, 55, 55);
                        margin: 0 0 5px 0;
                    }
                }
            }
        }
    
        .obraPanopticoRow2 {
            // margin: 0 15px 0 15px;
    
            .obraPanopticoColumn1 {
                hr {
                    // color: black;
                    margin: 0 0 8px 0;
                }
    
                div {
                    // display: flex;
                    // flex-direction: row;
                    // justify-content: space-between;
    
                    .obraPanopticoLink {
                        // text-decoration: none;
    
                        h6 {
                            // list-style: none;
                            // transition: all .1s;
                            // cursor: pointer;
                            // font-family: 'helveticaNeueLight';
                            font-size: 6px;
                            // color: rgb(55, 55, 55);
                            line-height: 0;
    
                            &:hover {
                                // color: $greenColor;
                            }
                        }
                    }
    
                    .obraPanopticoTxt {
                        // display: flex;
                        // flex-direction: column;
    
                        h6 {
                            // text-align: end;
                            // font-family: 'helveticaNeueLight';
                            font-size: 6px;
                            // color: rgb(55, 55, 55);
                            line-height: 0;
                        }
                    }
                }
            }
        }
    
        .obraPanopticoRow3 {
            margin: 20px 15px 0 15px;
    
            .obraPanopticoColumn1 {
                width: 90%;
                margin-left: auto;
                margin-right: auto;

                div {
                    // margin: 0 0 0 0;
                    // display: flex;
                    // flex-direction: column;
                    // align-items: end;
                    // justify-content: end;
    
                    img {
                        width: 100%;
                        height: auto;
                    }
    
                    p {
                        // text-align: end;
                        // font-family: 'helveticaNeueLight';
                        font-size: 6px;
                        // color: rgb(55, 55, 55);
                        margin: 5px 0 0 0;
                    }
                }
            }
    
            .obraPanopticoColumn2 {
                width: 90%;
                margin-left: auto;
                margin-right: auto;

                div {
                    height: auto;
                    // display: flex;
                    // flex-direction: column;
                    // justify-content: center;
                    margin: 40px 0 0 0;
                    align-items: center;
    
                    .p1 {
                        text-align: center;
                        // font-family: 'helveticaNeueLight';
                        font-size: 8px;
                        // color: black;
                        // margin: 0 0 0 0;
                    }
    
                    .p2 {
                        text-align: center;
                        // font-family: 'helveticaNeueLight';
                        font-size: 8px;
                        // color: black;
                        // margin: 0 0 0 0;
                    }
    
                    .p3 {
                        text-align: center;
                        // font-family: 'helveticaNeueLight';
                        font-size: 8px;
                        // color: black;
                        // margin: 0 0 0 0;
                    }
    
                    .p4 {
                        text-align: center;
                        // font-family: 'helveticaNeueLight';
                        font-size: 8px;
                        // color: black;
                        // margin: 0 0 0 0;
                    }
                }
            }
        }
    
        .obraPanopticoRow4 {
            margin: 50px 15px 0 15px;
    
            .obraPanopticoColumn1 {
                width: 90%;
                margin-left: auto;
                margin-right: auto;

                div {
                    margin: 0 0 0 0;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
    
                    img {
                        width: 100%;
                        height: auto;
                    }
    
                    div {
                        // margin: 0 0 0 0;
                        // display: flex;
                        // flex-direction: column;
                        // align-items: end;
                        // justify-content: end;
                        // width: 100%;
                        // height: 100%;
    
                        .p1 {
                            // text-align: end;
                            // font-family: 'helveticaNeueLight';
                            font-size: 6px;
                            // color: black;
                            margin: 5px 0 0 0;
                        }
    
                        p {
                            // text-align: end;
                            // font-family: 'helveticaNeueLight';
                            font-size: 6px;
                            // color: black;
                            // margin: 0 0 0 0;
                        }
                    }
                }
            }
    
            .obraPanopticoColumn2 {
                width: 90%;
                margin-left: auto;
                margin-right: auto;

                div {
                    margin: 40px 0 0 0;
                    // display: flex;
                    // flex-direction: column;
                    // align-items: end;
                    // justify-content: end;
    
                    img {
                        width: 100%;
                        height: auto;
                    }
    
                    div {
                        margin: 5px 0 0 0;
                        // display: flex;
                        // flex-direction: column;
                        // align-items: end;
                        // justify-content: end;
                        // width: 100%;
                        // height: 100%;
    
    
                        .p1 {
                            // text-align: end;
                            // font-family: 'helveticaNeueLight';
                            font-size: 6px;
                            // color: black;
                            margin: 0 0 0 0;
                        }
    
                        p {
                            // text-align: end;
                            // font-family: 'helveticaNeueLight';
                            font-size: 6px;
                            // color: black;
                            // margin: 0 0 0 0;
                        }
                    }
                }
            }
        }
    
        .obraPanopticoRow5 {
            margin: 50px 15px 40px 15px;
    
            .obraPanopticoColumn1 {
                width: 90%;
                margin-left: auto;
                margin-right: auto;

                div {
                    // margin: 0 0 0 0;
                    // display: flex;
                    // flex-direction: column;
                    // align-items: center;
                    // justify-content: center;
                    // margin-right: auto;
                    // margin-left: auto;
    
                    img {
                        width: 100%;
                        height: auto;
                    }
    
                    div {
                        // margin: 0 0 0 0;
                        // display: flex;
                        // flex-direction: column;
                        // align-items: end;
                        // justify-content: end;
                        width: 100%;
                        height: auto;
    
                        .p1 {
                            // text-align: end;
                            // font-family: 'helveticaNeueLight';
                            font-size: 6px;
                            // color: black;
                            margin: 5px 0 0 0;
                        }
    
                        p {
                            // text-align: end;
                            // font-family: 'helveticaNeueLight';
                            font-size: 6px;
                            // color: black;
                            // margin: 0 0 0 0;
                        }
                    }
                }
            }
        }
    }
    
}