@media screen and (max-width: 576px) {

    .obraInfintioContainer1 {
        // background-color: white;
    
        .obraInfinitoRow1 {
            // margin: 0 0 0 0;
    
            .obraInfinitoColumn1 {
                div {
                    margin: 20px 15px 0 15px;
                    // display: flex;
                    // flex-direction: row;
                    // justify-content: end;
    
                    h1 {
                        // font-family: 'retron2000';
                        font-size: 18px;
                        // color: rgb(55, 55, 55);
                        margin: 0 0 5px 0;
                    }
                }
            }
        }
    
        .obraInfinitoRow2 {
            // margin: 0 15px 0 15px;
    
            .obraInfinitoColumn1 {
                hr {
                    color: black;
                    margin: 0 0 8px 0;
                }
    
                div {
                    // display: flex;
                    // flex-direction: row;
                    // justify-content: space-between;
    
                    .obraInfinitoLink {
                        // text-decoration: none;
    
                        h6 {
                            // list-style: none;
                            // transition: all .1s;
                            // cursor: pointer;
                            // font-family: 'helveticaNeueLight';
                            font-size: 6px;
                            // color: rgb(55, 55, 55);
                            line-height: 0;
    
                            &:hover {
                                // color: $greenColor;
                            }
                        }
                    }
    
                    .obraInfinitoTxt {
                        // display: flex;
                        // flex-direction: column;
    
                        h6 {
                            // text-align: end;
                            // font-family: 'helveticaNeueLight';
                            font-size: 6px;
                            // color: rgb(55, 55, 55);
                            line-height: 0;
                        }
                    }
                }
            }
        }
    
        .obraInfinitoRow3 {
            margin: 0px 15px 0 15px;
    
            .obraInfinitoColumn1 {
                div {
                    // margin: 0 0 0 0;
                    // display: flex;
                    // flex-direction: column;
                    // align-items: center;
                    // justify-content: center;
                    // margin-right: auto;
                    // margin-left: auto;
    
                    img {
                        width: 80%;
                        // height: auto;
                    }
    
                    div {
                        // margin: 0 0 0 0;
                        // display: flex;
                        // flex-direction: column;
                        align-items: center;
                        // justify-content: start;
                        // width: 100%;
                        // height: auto;
    
                        .p1 {
                            // text-align: center;
                            // font-family: 'helveticaNeueLight';
                            font-size: 8px;
                            // color: rgb(55, 55, 55);
                            margin: 0 0 0 0;
                        }
    
                        p {
                            text-align: center;
                            // font-family: 'helveticaNeueLight';
                            font-size: 8px;
                            // color: rgb(55, 55, 55);
                            margin: 0 0 0 0;
                        }
                    }
                }
            }
        }
    
        .obraInfinitoRow4 {
            margin: 40px 15px 0 15px;
    
            .obraInfinitoColumn1 {
                width: 90%;
                margin-left: auto;
                margin-right: auto;

                div {
                    // margin: 0 0 0 0;
                    // display: flex;
                    // flex-direction: column;
                    // align-items: center;
                    // justify-content: center;
                    
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
            }
    
            .obraInfinitoColumn2 {
                margin: 20px 15px 0 15px;
                width: 90%;
                margin-left: auto;
                margin-right: auto;

                div {
                    height: auto;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    margin: 0 0 0 0;
                    align-items: end;
    
                    .p1 {
                        // text-align: end;
                        // font-family: 'helveticaNeueLight';
                        font-size: 8px;
                        // color: rgb(55, 55, 55);
                        // margin: 0 0 0 0;
                    }
    
                    .p2 {
                        // text-align: end;
                        // font-family: 'helveticaNeueLight';
                        font-size: 8px;
                        // color: rgb(55, 55, 55);
                        // margin: 0 0 0 0;
                    }
    
                    .p3 {
                        // text-align: end;
                        // font-family: 'helveticaNeueLight';
                        font-size: 8px;
                        // color: rgb(55, 55, 55);
                        // margin: 0 0 0 0;
                    }
    
                    .p4 {
                        // text-align: end;
                        // font-family: 'helveticaNeueLight';
                        font-size: 8px;
                        // color: rgb(55, 55, 55);
                        // margin: 0 0 0 0;
                    }
    
                }
            }
        }
    
        .obraInfinitoRow5 {
            margin: 40px 15px 0 15px;
    
            .obraInfinitoColumn1 {
                margin: 20px 15px 0 15px;
                width: 90%;
                margin-left: auto;
                margin-right: auto;

                div {
                    // margin: 0 0 0 0;
                    // display: flex;
                    // flex-direction: column;
                    // align-items: end;
                    // justify-content: end;
                    // margin-right: auto;
                    // margin-left: auto;
    
                    img {
                        // width: 100%;
                        // height: auto;
                    }
                }
            }
        }
    
        .obraInfinitoRow6 {
            margin: 40px 15px 40px 15px;
    
            .obraInfinitoColumn1 {
                margin: 20px 15px 0 15px;
                width: 90%;
                margin-left: auto;
                margin-right: auto;

                div {
                    // margin: 0 0 0 0;
                    // display: flex;
                    // flex-direction: column;
                    // align-items: start;
                    // justify-content: start;
                    // margin-right: auto;
                    // margin-left: auto;
    
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
            }
        }
    }
    
}