@media screen and (max-width: 576px) {

    .obraIntensidadEfimeraContainer1 {
        // background-color: white;
    
        .obraIntensidadEfimeraRow1 {
            // margin: 0 0 0 0;
    
            .obraIntensidadEfimeraColumn1 {
                div {
                    // margin: 20px 15px 0 0;
                    // display: flex;
                    // flex-direction: row;
                    // justify-content: end;
    
                    h1 {
                        // font-family: 'retron2000';
                        font-size: 16px;
                        // color: rgb(55, 55, 55);
                        margin: 0 0 5px 0;
                    }
                }
            }
        }
    
        .obraIntensidadEfimeraRow2 {
            // margin: 0 15px 0 15px;
    
            .obraIntensidadEfimeraColumn1 {
                hr {
                    // color: black;
                    margin: 0 0 8px 0;
                }
    
                div {
                    // display: flex;
                    // flex-direction: row;
                    // justify-content: space-between;
    
                    .obraIntensidadEfimeraLink {
                        // text-decoration: none;
    
                        h6 {
                            // list-style: none;
                            // transition: all .1s;
                            // cursor: pointer;
                            // font-family: 'helveticaNeueLight';
                            font-size: 6px;
                            // color: rgb(55, 55, 55);
                            line-height: 0;
    
                            &:hover {
                                // color: $greenColor;
                            }
                        }
                    }
    
                    .obraIntensidadEfimeraTxt {
                        display: flex;
                        flex-direction: column;
    
                        h6 {
                            // text-align: end;
                            // font-family: 'helveticaNeueLight';
                            font-size: 6px;
                            // color: rgb(55, 55, 55);
                            line-height: 0;
                        }
                    }
                }
            }
        }
    
        .obraIntensidadEfimeraRow3 {
            margin: 30px 15px 0 15px;
    
            .obraIntensidadEfimeraColumn1 {
                width: 90%;
                margin-left: auto;
                margin-right: auto;

                div {
                    // margin: 0 0 0 0;
                    // display: flex;
                    // flex-direction: column;
                    // align-items: center;
                    // justify-content: center;
                    // margin-right: auto;
                    // margin-left: auto;
    
                    img {
                        // width: 100%;
                        // height: auto;
                    }
                }
            }
        }
    
        .obraIntensidadEfimeraRow4 {
            margin: 40px 15px 0 15px;
    
            .obraIntensidadEfimeraColumn1 {
                width: 70%;
                margin-left: auto;
                margin-right: auto;

                div {
                    // margin: 0 0 0 0;
                    // display: flex;
                    // flex-direction: column;
                    // align-items: end;
                    // justify-content: end;
    
                    img {
                        width: 100%;
                        height: auto;
                    }
    
                    div {
                        // margin: 0 0 0 0;
                        // display: flex;
                        // flex-direction: column;
                        // align-items: end;
                        // justify-content: end;
                        // width: 100%;
                        // height: auto;
    
                        .p1 {
                            // text-align: end;
                            // font-family: 'helveticaNeueLight';
                            font-size: 6px;
                            // color: rgb(55, 55, 55);
                            margin: 10px 0 0 0;
                        }
                    }
                }
            }
        }
    
        .obraIntensidadEfimeraRow5 {
            margin: 40px 15px 0 15px;
    
            .obraIntensidadEfimeraColumn1 {
                width: 70%;
                margin-left: auto;
                margin-right: auto;

                div {
                    // margin: 0 0 0 0;
                    // display: flex;
                    // flex-direction: column;
                    // align-items: end;
                    // justify-content: end;
                    // margin-right: auto;
                    // margin-left: auto;
    
                    img {
                        // width: 100%;
                        // height: auto;
                    }
    
                    div {
                        // margin: 0 0 0 0;
                        // display: flex;
                        // flex-direction: column;
                        // align-items: end;
                        // justify-content: end;
                        // width: 100%;
                        // height: auto;
    
                        .p1 {
                            // text-align: end;
                            // font-family: 'helveticaNeueLight';
                            font-size: 6px;
                            // color: rgb(55, 55, 55);
                            margin: 10px 0 0 0;
                        }
                    }
                }
            }
        }
    
        .obraIntensidadEfimeraRow6 {
            margin: 40px 15px 40px 15px;
    
            .obraIntensidadEfimeraColumn1 {
                width: 70%;
                margin-left: auto;
                margin-right: auto;

                div {
                    // margin: 0 0 0 0;
                    // display: flex;
                    // flex-direction: column;
                    // align-items: start;
                    // justify-content: start;
                    // margin-right: auto;
                    // margin-left: auto;
    
                    img {
                        width: 100%;
                        height: auto;
                    }
    
                    div {
                        // margin: 0 0 0 0;
                        // display: flex;
                        // flex-direction: column;
                        // align-items: end;
                        // justify-content: end;
                        // width: 100%;
                        // height: auto;
    
                        .p1 {
                            // text-align: end;
                            // font-family: 'helveticaNeueLight';
                            font-size: 6px;
                            // color: rgb(55, 55, 55);
                            margin: 10px 0 0 0;
                        }
                    }
                }
            }
        }
    }
    
}